@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.root{
background: #0078d4;
}
.item{
background:cadetblue;
}

.formcapex {
  .container { 
    padding-left: 20px;  
    padding-right: 20px;       
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .md3{
    @include ms-Grid-col;
    @include ms-md3; 
  }
  .md4{
    @include ms-Grid-col;
    @include ms-md3; 
  }  
  .md6{
    @include ms-Grid-col;
    @include ms-md6; 
  }    
  
  .row {
    @include ms-Grid-row;
    @include ms-md12;  
  }


  .column {
    @include ms-Grid-col;       
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    background: #0078d4;
    @include ms-fontColor-white;    
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

}